@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.container {
  margin: auto;
  align-items: center;
}
.title {
  color: white;
  margin-top: 12%;
  font-size: 38px;
  font-family: "Dancing Script", cursive;
}
.title::after {
  content: "";
  position: absolute;
  animation: loadingTitle 2s infinite;
}
.book {
  margin-left: 50%;
  height: 110px;
  perspective: 350px;
}
.pages {
  display: block;
  width: 75px;
  height: 110px;
  border: 5px solid white;
  border-left: 5px solid white;
  position: absolute;
  overflow: hidden;
  background: #ebe6cc;
  transform-style: preserve-3d;
  transform-origin: left center;
  animation: loading 3.5s cubic-bezier(0, 0.39, 1, 0.68) 1s infinite;
}
.pages:nth-child(1) {
    animation-delay: 1s;
  }
.pages:nth-child(2) {
  animation-delay: 0.9s;
}
.pages:nth-child(3) {
  animation-delay: 0.8s;
}
.pages:nth-child(4) {
  animation-delay: 0.7s;
}
.pages:nth-child(5) {
  animation-delay: 0.6s;
}
.pages:nth-child(6) {
  animation-delay: 0.5s;
}
.pages:nth-child(7) {
  animation-delay: 0.4s;
}
.pages:nth-child(8) {
  animation-delay: 0.3s;
}
@keyframes loading {
  0% {
    transform: rotateY(0deg);
  }
  5% {
    background: #ebe6cc;
  }
  10% {
    background-color: #ebe6cc;
    transform: rotateY(-180deg);
  }
  20% {
    background-color: #ebe6cc;
    transform: rotateY(-180deg);
  }
  50% {
    background-color: #ebe6cc;
    transform: rotateY(-180deg);
  }
  55% {
    background: #ebe6cc;
  }
  60% {
    transform: rotateY(0deg);
  }
  70% {
    background-color: #ebe6cc;
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes loadingTitle {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}
