.scrollTop {
  margin-top: 60px;
  z-index: 1000;
  animation: fadeIn 0.6s;
  transition: opacity 0.9s;
  opacity: 0.9;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
