#bookCard {
  text-align: center;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: rgb(42 42 42);
}

#bookCover {
  border-radius: 8px;
  margin-top: 7%;
  max-width: 222px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

#bookTitle {
  font-size: 30px;
  color: rgb(220 220 220);
  font-family: auto;
  margin: 3% 0 4% 0;
}

#subtitle {
  color: rgb(184 184 184);
  font-size: 20px;
  letter-spacing: 2px;
}

#divider {
  width: 50%;
  height: 1px;
  margin: 2% auto 7% auto;
  display: block;
  border-radius: 2px;
  background-color: #ccc;
}

#descriptionContent {
  padding: 0% 5%;
  overflow-y: scroll;
  margin-bottom: 6%;
}

#description {
  height: 200px;
  color: rgb(206, 206, 206);
  text-align-last: center;
  line-height: 1.7;
  font-family: initial;
  font-weight: bold;
}
