.infinite-loading-text {
  color: rgb(206 206 206) !important;
}

#bottomNav {
  background-color: #313131;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgb(169 169 169);
}

#reviewsList {
  background-color: #404040;
  display: grid;
  margin-bottom: 50px;
}

#infiniteScroller {
  margin-top: -50px;
  display: block;
  margin-bottom: 32px;
}
