#reviewCard {
  text-align: center;
  margin: 4% 3%;
  width: 100%;
  background-color: rgb(42 42 42);
}

#title {
  font-size: 20px;
  color: #9e9e9e;
  margin: 3% 0 4% 0;
}

#divider {
  width: 50%;
  height: 1px;
  margin: 0% auto 6% auto;
  display: block;
  border-radius: 2px;
  background-color: #ccc;
}

#commentContent {
  padding: 0% 5%;
  overflow-y: scroll;
}

#comment {
  color: rgb(206, 206, 206);
  width: 90%;
  margin: 0 auto;
  line-height: 1.7;
  font-family: initial;
  font-weight: bold;
}

#reviewDate {
  font-family: serif;
  color: #9e9e9e;
  margin: 6% 3% 3% 3%;
  text-align: center;
  letter-spacing: 1px;
}
