.MuiMenu-list {
  background-color: rgb(42 42 42);
}

.MuiMenuItem-root {
  color: rgb(184, 184, 184) !important;
}

.MuiSelect-outlined.MuiSelect-outlined {
  background-color: rgb(43, 43, 43);
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  color: rgb(184, 184, 184);
}

.MuiSelect-outlined.MuiSelect-outlined {
  color: rgb(184, 184, 184);
}

.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
  background-color: rgb(36 , 36, 36) !important;
}
